<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Discal Android</name>
    <description>
        Discal Application to make orders on Android
    </description>
    <author email="taquimon@gmail.com" href="http://discald.com">
        Edwin Taquichiri
    </author>
    <preference name="Fullscreen" value="false" />
    <content src="nuevo_pedido.html" />
    <allow-navigation href="*" />
    <allow-intent href="*" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <allow-intent href="http://*/*" />
        <allow-intent href="https://*/*" />
        <allow-navigation href="*" />
        <allow-intent href="*" />
        <access origin="*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <icon density="mdpi" height="64" platform="android" src="res/icon/android/cellphone.png" width="64" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <engine name="android" spec="^7.1.1" />
</widget>
